@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-midnight: 5 5 10;
  --c-slate-50: 248 250 252;
  --c-slate-100: 241 245 249;
  --c-slate-200: 226 232 240;
  --c-slate-300: 203 213 225;
  --c-slate-400: 148 163 184;
  --c-slate-500: 100 116 139;
  --c-slate-600: 71 85 105;
  --c-slate-700: 51 65 85;
  --c-slate-800: 30 41 59;
  --c-slate-850: 23 23 28;
  --c-slate-900: 15 23 42;
  --c-slate-950: 2 6 23;
}

body {
  background-color: rgb(var(--c-midnight));
  color: rgb(var(--c-slate-200));
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}